body{
    background-color: #efefef;
}
a {
    text-decoration:none !important;
}
form{
    font-size:14px;
}
.pd-hori-0 {
    padding-left: 0;
    padding-right: 0;
}

.list-group .list-group-item{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.card {
    font-size: 14px;
}
.card-body {
    padding-bottom: 5px !important;
}
.searchbox button {
    background: #ddd;
    border: none;
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.searchbox button img {
    width: 24px;
    height: 24px;
}

.btn-primary{
    color: #fff;
    background-color: #4BCCF8;
    border-color: #4BCCF8;
}
.bg-primary {
    background-color: #4BCCF8 !important;
}