body{
    background-color: #efefef;
}

a {
    text-decoration:none !important;
}
form{
    font-size:14px;
}
.pd-hori-0 {
    padding-left: 0;
    padding-right: 0;
}

.list-group .list-group-item{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.card {
    font-size: 14px;
    border-width: 0px;
}

.searchbox button {
    background: #ddd;
    border: none;
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.searchbox button img {
    width: 24px;
    height: 24px;
}

.btn-primary{
    color: #fff;
    background-color: #4BCCF8;
    border-color: #4BCCF8;
}
.bg-primary {
    background-color: #4BCCF8 !important;
}
.card {
    border-radius: 0 !important;
}
.card-header{
    border-radius: 0 !important;
}

.ft-18 {
    font-size: 18px !important;
}
.ft-16 {
    font-size: 16px !important;
}
.ft-14 {
    font-size: 14px !important;
}
.ft-12 {
    font-size: 12px !important;
}
.ft-10 {
    font-size: 10px !important;
}

.bg-leftMenu {
    background: #4C8BA2;
}
.bg-header {
    background: #4C8BA2;
}
.bg-item {
    background: #3B778E;
}
.slant1 {
    height: 35px;
    line-height: 35px;
    background: #58a;
    color: #fff;
    text-align: center;
    font-size: 10px;
    background: linear-gradient(-58deg, transparent 25px, #59D 0);
}
.slant2 {
    height: 35px;
    line-height: 35px;
    background: #fff;
    color: #fff;
    text-align: center;
    font-size: 10px;
    background: linear-gradient(122deg, transparent 25px, #fff 0);
}
